@font-face {
  font-family: 'Morganite-bold';
  src: url('../fonts/Morganite/Morganite-Bold.ttf');
}

@font-face {
  font-family: 'Morganite-Light';
  src: url('../fonts/Morganite/Morganite-Light.ttf');
}

@font-face {
  font-family: 'Morganite-Thin';
  src: url('../fonts/Morganite/Morganite-Thin.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}


body{
  margin: 0;
  width: 100%;
/* overflow: hidden; */
}
