.wholePageWrapper{
  width: 72%;
  margin-left: 14%;
  background: #f2f2f2;
}

body {
  margin: 0;
  background: #d5d4d4;
  padding-bottom: 10vw;
}
/* seller section start */
.sellerNameAndIcon {
  position: relative;
  background: #e3e3e3;
}

.sellerImageText {
  padding: 0.1px;
}

.sellerImageBox {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerImage {}

.sellerNameAndIcon h1 {
  text-align: center;
  margin-top: 7vw;
  margin-bottom: 9vw;
  font-size: 3.48668vw;
  font-family: 'OpenSans-Bold';
  color: #333333;
  font-weight: 900;
}

.sellerNameAndIcon h2 {
  font-size: 7.2639225vw;
  font-family: 'Morganite-Thin';
  margin-left: 5vw;
}

/* seller section end */
.banerArea {
  position: relative;
  width: 100%;
  height: 26.9733vw;
  overflow: hidden;
  display: none;
}

.banerArea img {
  width: 100%;
  position: relative;
}

/* sectionAboutCar start */
.selerHeading {
  background: #f9d8cc;
  width: 95%;
  padding: 2vw 0;
}

.sellerImageBox {
  position: absolute;
  top: 2vw;
  left: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 12vw;
}

.sellerImage {
  width: 100%;
  height: 100%;
}

.sectionAboutCar {
  position: relative;
  margin-top: 7vw;
  flex-direction: column;
  align-items: center;
}

.card-body p {
  margin-top: 1vw;
  font-size: 1.16222vw;
}

.card-header h3 {
  font-size: 2.324455vw;
}

.aboutCarContent {
  /* border: 1px solid; */
  width: 95%;
  margin-bottom: 5vw;
}

.sectionAboutCar h1 {
  color: #d12b2e;
  font-size: 2.905569vw;
  font-family: 'OpenSans-Bold';
  font-weight: 800;
}

.sectionAboutCar h2 {
  color: #555555;
  font-size: 1.74334vw;
  font-family: 'OpenSans-Regular';
}

.carDescriptionBox {
  background: #e5e5e5;
  padding: 3.00242vw 2.22760vw;
}

.carDescriptionBox p {
  font-size: 1.16222vw;
  font-family: 'OpenSans-Regular';
}

.contactMe {
  color: #ff6600;
  font-family: 'OpenSans-Regular';
}

.sectionAboutCar h3 {
  color: #555555;
  font-size: 2.324455vw;
  margin-top: 4.842615vw;
  font-family: 'OpenSans-Bold';
  font-weight: 900;
}

.accordion {
  width: 100%;
}

/* sectionAboutCar end */
/* car section start */
.carSection {
  position: relative;
  margin-top: 3vw;
}

.carsouselContainer {
  margin-top: 3vw;
  width: 100%;
  max-width: none;
}

.carousel-inner {
  height: 39.5vw;
}

.carousel-indicators {
  bottom: -0.4vw;
  height: 5vw;
  margin-bottom: 0;
}

.carousel-indicators li {
  width: 7vw
}

.carousel-control-next-icon {
  background-image: url('../images/desktop/right.png');
  width: 4vw;
  height: 4vw;
  margin-top: 32vw;
}

.carousel-control-prev-icon {
  background-image: url('../images/desktop/left.png');
  width: 4vw;
  height: 4vw;
  margin-top: 32vw;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0.75;
  bottom: 6vw;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 1;
}

/* car section end */
